addict==2.4.0
aenum==3.1.15
aiofiles==23.2.1
aiomysql==0.2.0
aiortc==1.10.1
albumentations==1.4.18
anthropic==0.30.1
boto3==1.37.20
celery==5.4.0
configobj==5.0.9
configparser==7.1.0
dashscope==1.20.13
datasets==3.2.0
deprecation==2.1.0
drissionpage==4.1.0.17
effdet==0.4.1
einops==0.8.1
elasticsearch-dsl==8.16.0
embeddings==0.0.8
eventlet==0.39.0
fastapi==0.115.2
ffmpy==0.5.0
ftfy==6.3.1
google-cloud-vision==3.7.4
groovy==0.1.2
groq==0.9.0
grpcio-status==1.67.0
h2==4.1.0
httplib2==0.22.0
jaraco.collections==5.1.0
jieba==0.42.1
langchain-community==0.3.3
langextract==1.0.9
librosa==0.11.0
litellm==1.53.1
livekit-plugins-cartesia==0.4.3
livekit-plugins-deepgram==0.6.11
livekit-plugins-openai==0.10.7
livekit-plugins-silero==0.7.3
loguru==0.7.2
markdown==3.7
mcp==1.8.1
megatron-util==0.1.0
mem0ai==0.1.21
minio==7.2.10
modelscope==1.24.0
neo4j==5.25.0
nipype==1.8.6
openapi-llm==0.4.3
openapi-spec-validator==0.7.2
paddleocr==2.9.0
paddlepaddle==2.6.1
pi-heif==0.18.0
pikepdf==9.3.0
pip-chill==1.0.3
pipreqs==0.5.0
plumbum==1.9.0
ply==3.11
psycopg2-binary==2.9.10
pydub==0.25.1
pymilvus==2.4.8
pymupdf==1.24.11
pypandoc==1.14
pythainlp==5.1.0
python-pptx==1.0.2
pyvi==0.1.1
pyxnat==1.6.2
rank-bm25==0.2.2
redis==5.1.1
rouge==1.0.1
ruff==0.9.10
sacremoses==0.1.1
safehttpx==0.1.6
semantic-version==2.10.0
sentencepiece==0.2.0
seqeval==1.2.2
shellingham==1.5.4
shortuuid==1.0.13
sortedcontainers==2.4.0
spacy==3.7.0
sqlmodel==0.0.22
stanza==1.10.1
streamlit==1.39.0
subword-nmt==0.3.8
tavily-python==0.5.0
tomlkit==0.13.2
unstructured==0.16.0
unstructured-inference==0.7.36
unstructured.pytesseract==0.3.13
xlrd==2.0.1
zhconv==1.4.3
transformers==4.45.2
openapi-llm==0.4.3